<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<style>
    .form-content .form-items {
    max-width: 80%;
    text-align: center;
    box-shadow: 1px -17px 47px 33px #efefef;
    padding: 10%;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
}
</style>
<body>
      <div class="form-body"  style="width: fit-content;">
        <div  class="website-logo">
            <a href="/">
               
            </a>
        </div>
        <div class="row">
            {{!-- <div class="img-holder">
                <div class="bg"  style="background-color: antiquewhite;"></div>
                <div class="info-holder">
                    <img src="user/images/graphic1.svg" alt="http://localhost:3000/user/images/logo-light.svg">
                   
                </div>
            </div> --}}
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                       
                        <div class="page-links">
                                                <img src="user/images/graphic1.svg" alt="http://localhost:3000/user/images/logo-light.svg" style="margin-bottom: 6%;">

                           <a href="#" class="active" style="text-align: center!important;;">LOGIN</a>
                        </div>
                        {{{body}}}
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>